# appwrite is a Backend as a Service (BaaS)

EXPO_PUBLIC_MOVIE_API_KEY=your_api_key_here # we were using a tmdb api key from https://www.themoviedb.org/
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_appwrite_project_id # we were using appwrite for authentication and storage
EXPO_PUBLIC_APPWRITE_DATABASE_ID=your_appwrite_database_id # we were using appwrite database for storing movies
EXPO_PUBLIC_APPWRITE_TABLE_ID=your_appwrite_table_id # we were using appwrite table for storing movies